<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- main Site -->
<main class="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"> <i class="fas fa-angle-double-left"></i> All Employee</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">New Employee</h2>
      <span class="text-light">Use the below form to create a new account</span>
    </div>
    <!-- form handling -->
    <%- include('include/_form')%>
    <!-- /form handling -->
  </div>
</main>
<!-- /main Site -->

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->
